@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

:root {
  --white: rgb(255, 255, 255);
  --black: rgb(0, 0, 0);
  --light-grey: rgb(211, 211, 211);
  --primary-color:rgb(0, 195, 255);
  --secondary-color: rgb(138, 43, 226);
  --dark-grey:rgb(54, 54, 54);

}

html {
  font-size: 10px;
  font-family: 'Open Sans', sans-serif;
}color

.body {
  display: flex;
  height: 100%;
  font-size: 1.6rem;
}

.site-container {
  display: grid;
  height: 100vh;
  grid-template-columns: 1fr 4fr;
}

.sidebar {
  background-color:var(--primary-color);
  grid-column-end: 2;
  height: 100%;
  min-width: 250px;
  padding: 10px;
  font-size: 2rem;
}

.nav {
  padding: 20px;
  font-weight: bold;
}

.nav li {
  padding: 10px 0px 10px 0px;
}

.icon, .brand img {
  filter: invert(100%) sepia(1%) saturate(4725%) hue-rotate(19deg) brightness(123%) contrast(100%);
}

.brand img {
  width: 50px;
  height: 50px;
}

.icon {
  width: 25px;
  height: 25px;
}

.nav a, .brand {
  text-decoration: none;
  display: flex;
  flex-flow: row nowrap;
  gap: 10px;
  align-items: center;
}

.nav a:link {
  color: var(--white);
}

.nav a:visited {
  color: var(--white);
}

.nav a:hover {
  color: rgb(228, 228, 228);
}

.brand {
  padding: 20px;
  font-size: 1.4rem;
  color: var(--white);
}

.links, .settings {
list-style-type: none;
font-size: 2rem;
color: var(--white);
}

.links {
  margin-bottom: 30px;
}

.header {
  background-color: var(--white);
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
}

.right_container {
  display: grid;
  grid-template-rows: .5fr 4fr;
}

.main-content {
  padding: 20px;
  background-color: var(--light-grey);
  display: grid;
  grid-template-columns: 1fr 1fr .8fr;
  grid-template-rows: .1fr;
  grid-auto-rows: 2fr;
}

.card, .project-card {
  font-size: 1.6rem;
  border-radius: 10px;
  min-height: 275px;
  box-shadow: 0px 8px 8px rgb(0, 0, 0, .2);
  background: var(--white);
  overflow: auto;
}

.project-card {
  max-height: 275px;
  display: grid;
  grid-template-columns: 2% 95%;
}

.card-flex-container {
  display: flex;
  flex-flow: column nowrap;
}

.card-text, .card-icons {
  padding: 30px;
}

.card-text {
  align-self: flex-start;
}

.card-icons {
  align-self: flex-end;
}
.card-icons img {
  width: 25px;
  height: 25px;
  margin-left: 15px;
}

.project-title {
  grid-column: 1 / 2;
}

.stripe {
  background-color: var(--secondary-color);
  width: 10px;
  height: 100%;
}

.announcement-title {
  grid-column: 3 / 4;
}

.left {
  grid-column: 1 / 3;
  grid-row-start: 2;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.right {
  grid-column: 3 / 4;
  display: grid;
  grid-template-rows: 1fr .1fr 1fr;
  height: 100%;
}

.left, .right, .main-content {
  gap: 20px;
}

.main-content h3 {
  font-size: 1.8rem;
}

.announcement-card, .trending-card {
  padding: 30px;
  max-height: 400px;
  font-size: 1.5rem;
}

.trending-card p, .announcement-card p {
  color: var(--dark-grey);
}

hr {
  width: 100%;
  margin: auto;
  margin: 10px 0px 10px 0px;
  color: var(--light-grey);
}

.trending-section svg {
  width: 100px;
  height: 100px;
  grid-row-start: 1;
  grid-row-end: 3;
}

.trending-username {
  font-weight:900;
  color:black !important;
}

.trending-section {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 10px;
  align-items: center;
  margin: 20px 0px 0px 0px;
}